* {
    margin: 0;
    padding: 0;
}

.sections {
    position: relative;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    display: flex;
    font-size: 40px;
    font-family: 'roboto';
    width: 600px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
}

.card_list {
    display: flex;
    margin: 30px;
    margin-top: 80px;
    justify-content: space-around;
}

.card {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 200px;
}

.icon {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.932);
    box-shadow: 0 5px 10px 1px #aaa;
}

.number {
    font-weight: 900;
    font-size: 28px;
    font-family: 'roboto';
    color: red;
}

.card_title {
    font-family: 'roboto';
    font-size: 18px;
    margin: 15px auto;
}

.section_paragrif {
    display: flex;
    font-family: 'roboto';
    width: 600px;
    margin: auto;
    text-align: center;
    justify-content: center;
    color: #777;
}

.card_list {
    display: flex;
}

.cards {
    display: flex;
    width: 450px;
    height: 120px;
    margin-top: auto;
    border-radius: 15px;
    border: 1px solid;
    background-color: red;
}

.cards {}

.card_img {
    margin-top: 15px;
    margin-left: 20px;
}

.card_date {
    width: 250px;
    margin: 15px auto;
    color: #fff;
    font-family: 'roboto';
}

.paragrif {
    margin-top: 10px;
    font-size: 14px;
}

.icons {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.932);
}

.cards1 {
    display: flex;
    width: 450px;
    height: 120px;
    margin-top: auto;
    border-radius: 15px;
    border: 1px solid RED;
    background-color: #fff;
}

.card_date1 {
    width: 250px;
    margin: 15px auto;
    color: #000;
    font-family: 'roboto';
}

.number1 {
    font-weight: 900;
    font-size: 28px;
    font-family: 'roboto';
    color: #FFF;
    background-color: #333;
}

.cards2 {
    display: flex;
    width: 450px;
    height: 120px;
    margin-top: auto;
    border-radius: 15px;
    border: 1px solid RED;
    background-color: #fff;
}

.icons1 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
}

.bgc {
    display: flex;
    height: 150px;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: red;
}

.form {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
}

.paragrif_form {
    align-items: center;
    width: 350px;
    font-family: 'roboto';
    color: #fff;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: end;
    width: 250px;
    padding: 25px;
    border-radius: 35px;
    font-size: 20px;
}

.input_div {
    position: relative;
}

.iconka {
    position: absolute;
}

.form_img {
    position: absolute;
    top: 0;
    right: 0;
}